@tailwind base;
@tailwind components;
@tailwind utilities;

body:root {
  height: 100%;
}

.bg-custom {
  background-image: url("https://media.istockphoto.com/id/1134068329/es/foto/violeta-p%C3%BArpura-y-azul-marino-descentrado-movimiento-difuminado-degradado-fondo-abstracto.jpg?s=612x612&w=0&k=20&c=QAyA_tvJpbchhkcqNGkhyyhJd7jDbIzEGP-U21TdUoI=");
  background-size: cover;
  background-position: center;
  width: 100%;
  min-height: 100%;
  position: absolute;
}
