@tailwind base;
@tailwind components;
@tailwind utilities;

body:root {
  height: 100%;
}

.bg-custom {
  background-image: url("/fondo.jpg");
  background-size: cover;
  background-position: center;
  width: 100%;
  min-height: 100%;
  position: absolute;
}

.bg-custom-2 {
  background-image: url("/fondo.jpg");
  background-size: cover;
  background-position: center;
}

.text-stroke-title {
  position: absolute;
  bottom: -3px;
  left: -5px;
  -webkit-text-stroke: 0.5px #a98a4d;
  color: transparent;
  text-transform: uppercase;
}

.text-stroke-sub {
  position: absolute;
  bottom: -2px;
  left: -3px;
  -webkit-text-stroke: 0.5px #267b40;
  color: transparent;
}

.font {
  font-family: "Comic Sans MS", cursive, sans-serif;
  letter-spacing: -1.5px;
  color: grey;
}
